# SQL

In [1]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

## Database

### Populate Database

In [7]:
# load a database from CSV
dataall = pd.DataFrame.from_csv('dataall.csv')
datadate = pd.DataFrame.from_csv('datadate.csv')
dataauthor = pd.DataFrame.from_csv('dataauthor.csv')
dataother = pd.DataFrame.from_csv('dataother.csv')
topicweights10 = pd.DataFrame.from_csv('topicweights10.csv')
topicweights50 = pd.DataFrame.from_csv('topicweights50.csv')

In [8]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
dataall.to_sql('orig', engine, if_exists='replace')
datadate.to_sql('dates', engine, if_exists='replace')
dataauthor.to_sql('authors', engine, if_exists='replace')
dataother.to_sql('other', engine, if_exists='replace')
topicweights10.to_sql('topic_weights10', engine, if_exists='replace')
topicweights50.to_sql('topic_weights50', engine, if_exists='replace')

### Connect to Database

In [3]:
n_topics = 50
n_authors = 38
n_days = 7

In [4]:
#In Python: Define a database name, and your username for your computer. 
dbname = 'oped_db'
username = 'varun'

In [5]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print engine.url

postgres://varun@localhost/oped_db

In [6]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [9]:
## Now try the same queries, but in python!
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username)

In [10]:
# query:
def query_for_person(firstname,lastname):
    return """
    SELECT orig.share_count, topic_weights.*
    FROM orig
        JOIN topic_weights
            ON orig.index = topic_weights.index
    WHERE orig.first_name='{0}' AND orig.last_name='{1}';
    """.format(firstname,lastname)

In [11]:
sql_query = query_for_person('ross','douthat')
data_from_sql = pd.read_sql_query(sql_query,con)
data_from_sql.head()

,share_count,index,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9
0,665,53,0.000372,0.000372,0.000372,0.000372,0.106056,0.000372,0.000372,0.000372,0.890969,0.000372
1,305,85,0.000253,0.000253,0.093017,0.000253,0.000253,0.000253,0.000253,0.000253,0.904957,0.000253
2,412,135,0.000343,0.000343,0.000343,0.000343,0.092126,0.030038,0.083471,0.156396,0.616574,0.020025
3,296,177,0.000262,0.000262,0.071105,0.007671,0.000262,0.000262,0.098962,0.000262,0.820691,0.000262
4,3061,215,0.000339,0.000339,0.000339,0.044130,0.026326,0.081990,0.000339,0.000339,0.738386,0.107473

In [12]:
# query:
def query_all():
    return """
    SELECT orig.share_count, topic_weights50.*, authors.*, dates.*, other.len
    FROM orig
        JOIN topic_weights50
            ON orig.index = topic_weights50.index
        JOIN authors
            ON orig.index = authors.index
        JOIN dates
            ON orig.index = dates.index
        JOIN other
            ON orig.index = other.index;
    """

In [13]:
sql_query = query_all()
data_from_sql = pd.read_sql_query(sql_query,con)
data_from_sql.head()

,share_count,index,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,...,Dates,Times,Day0,Day1,Day2,Day3,Day4,Day5,Day6,len
0,1502,0,0.000058,0.000058,0.000058,0.005101,0.000058,0.236427,0.000058,0.000058,...,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,866
1,6308,1,0.000042,0.031076,0.000042,0.000042,0.000042,0.149588,0.000042,0.000042,...,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1264
2,826,2,0.000043,0.000043,0.010929,0.012003,0.000043,0.000043,0.003719,0.036500,...,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1246
3,685,3,0.000069,0.000069,0.000069,0.000069,0.005418,0.000069,0.000069,0.000069,...,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,816
4,1040,4,0.082217,0.000063,0.000063,0.000063,0.000063,0.000063,0.000063,0.000063,...,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,788

In [15]:
data_from_sql['log_share_count'] = np.log10(data_from_sql['share_count'])
data_from_sql[data_from_sql['log_share_count'] < 0] = 0

In [37]:
featurenames

['topic0',
 'topic1',
 'topic2',
 'topic3',
 'topic4',
 'topic5',
 'topic6',
 'topic7',
 'topic8',
 'topic9',
 'topic10',
 'topic11',
 'topic12',
 'topic13',
 'topic14',
 'topic15',
 'topic16',
 'topic17',
 'topic18',
 'topic19',
 'topic20',
 'topic21',
 'topic22',
 'topic23',
 'topic24',
 'topic25',
 'topic26',
 'topic27',
 'topic28',
 'topic29',
 'topic30',
 'topic31',
 'topic32',
 'topic33',
 'topic34',
 'topic35',
 'topic36',
 'topic37',
 'topic38',
 'topic39',
 'topic40',
 'topic41',
 'topic42',
 'topic43',
 'topic44',
 'topic45',
 'topic46',
 'topic47',
 'topic48',
 'topic49',
 'author0',
 'author1',
 'author2',
 'author3',
 'author4',
 'author5',
 'author6',
 'author7',
 'author8',
 'author9',
 'author10',
 'author11',
 'author12',
 'author13',
 'author14',
 'author15',
 'author16',
 'author17',
 'author18',
 'author19',
 'author20',
 'author21',
 'author22',
 'author23',
 'author24',
 'author25',
 'author26',
 'author27',
 'author28',
 'author29',
 'author30',
 'author31',
 'author32',
 'author33',
 'author34',
 'author35',
 'author36',
 'author37',
 'Day0',
 'Day1',
 'Day2',
 'Day3',
 'Day4',
 'Day5',
 'Day6',
 'Times']

## Turn into Classification

In [92]:
xmin = np.min(data_from_sql['log_share_count'])
xmax = np.max(data_from_sql['log_share_count'])
bins = np.linspace(xmin,xmax,10)
binnum = np.digitize(data_from_sql['log_share_count'],bins)
binnum[binnum <= 5] = 0
binnum[binnum > 5] = 1
data_from_sql['bin_share_count'] = binnum

In [78]:
plt.hist(data_from_sql['log_share_count'])
plt.show()

# Machine Learning

## One-Hot Encoding

In [9]:
encode = preprocessing.OneHotEncoder()

In [20]:
encode.fit(np.array([[1],[2],[3],[5],[6],[7],[2],[3],[4]]))

OneHotEncoder(categorical_features='all', dtype=<type 'float'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [22]:
encode.transform(np.array([[2],[3],[2]])).toarray()

array([[ 0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.]])

## Training/Test

In [16]:
from sklearn import linear_model, neighbors, ensemble, preprocessing

In [17]:
def split_data(data,frac=0.7):
    datanew = data.sample(frac=1)
    nrows = len(datanew)
    idx = int(nrows*frac)
    return {'train': datanew.iloc[:idx], 'test': datanew.iloc[idx:]}
    # use 70-30 split

In [18]:
def train_model(split_data,model,errorfun,**kwargs):
    datatrain = split_data['train']
    datatest = split_data['test']
    model.fit(datatrain[featurenames],datatrain[viralityname],**kwargs)
    train_pred = model.predict(datatrain[featurenames])
    test_pred = model.predict(datatest[featurenames])
    train_error = errorfun(train_pred,datatrain[viralityname])
    test_error = errorfun(test_pred,datatest[viralityname])
    print('Training error: {0}'.format(train_error))
    print('Test error: {0}'.format(test_error))

In [19]:
topicnames = ['topic{0}'.format(i) for i in range(n_topics)]
authornames = ['author{0}'.format(i) for i in range(n_authors)]
daynames = ['Day{0}'.format(i) for i in range(n_days)]
# othernames = ['len','Times']
othernames = ['Times']
featurenames = topicnames + authornames + daynames + othernames
features = data_from_sql[featurenames]
viralityname = 'log_share_count'
virality = data_from_sql[viralityname]

In [30]:
datasplit = split_data(data_from_sql)

## Classification

In [117]:
def model_error_class(predicted,actual):
    nobs = actual.size
    return 1.0/nobs*np.sum((actual - predicted)**2)

### Logistic Regression

In [123]:
fig = plt.figure(1)
ax = fig.gca()
ax = ax.matshow(data_from_sql[featurenames], cmap=plt.cm.gray)
plt.show()

In [113]:
model = linear_model.LogisticRegression()
model.fit(datatrain[featurenames],datatrain['bin_share_count'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### K-Nearest Neighbors

In [ ]:
model = neighbors.KNeighbors(n_neighbors=i)
train_model(datasplit,model)

## Regression

In [21]:
def model_error_regr(predicted,actual):
    nobs = actual.size
    return np.sqrt(1.0/(2.0*nobs)*np.sum((actual - predicted)**2))

In [22]:
def coeff_regr(predicted,actual):
    avg = np.mean(actual)
    sstot = np.sum((actual - avg)**2)
    ssres = np.sum((actual - predicted)**2)
    return 1 - ssres/sstot

### Linear Regression

In [26]:
model = linear_model.Ridge(alpha=0.01)

In [27]:
model.fit(data_from_sql[featurenames],data_from_sql[viralityname])

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [31]:
train_model(datasplit,model,coeff_regr)

Training error: 0.405713867845
Test error: 0.406994291855

In [29]:
for featurename, coef in zip(featurenames, model.coef_):
    print(featurename, coef)

('topic0', 0.50762146509506667)
('topic1', 0.89120507538307059)
('topic2', 0.53929200571150726)
('topic3', -0.096595558036459028)
('topic4', -1.9452356855667878)
('topic5', 0.36449780046565722)
('topic6', 0.74096907803541012)
('topic7', -0.24979556839414763)
('topic8', -0.07451408029289841)
('topic9', 0.22159023432380848)
('topic10', 1.2230921647984188)
('topic11', -0.19365813139165167)
('topic12', 0.12051363964154965)
('topic13', -3.0108987043216335)
('topic14', -0.71124580845752905)
('topic15', 0.37739521216130728)
('topic16', -0.71124580845752872)
('topic17', 0.76443750299212287)
('topic18', 0.40167132967147928)
('topic19', 0.49993340882533027)
('topic20', 0.175432754816645)
('topic21', 0.40573452216028633)
('topic22', 0.28681010988289024)
('topic23', 0.65295488198866525)
('topic24', -0.7112458084575296)
('topic25', 0.25546133753306682)
('topic26', -0.18963302805709875)
('topic27', 0.41888035311873983)
('topic28', 0.68827295829050461)
('topic29', -0.069195868031741589)
('topic30', 0.82593701834307576)
('topic31', -0.71124580845752894)
('topic32', 0.95880727764546247)
('topic33', -0.12734177874190361)
('topic34', 0.31811559529559852)
('topic35', 0.75631850556576818)
('topic36', 0.90142276446333658)
('topic37', -0.14577976919355046)
('topic38', 0.93379860721878971)
('topic39', -0.71124580845752983)
('topic40', 5.4553065484386911)
('topic41', -0.71124580845752972)
('topic42', -0.71124580845752905)
('topic43', 0.18219868113341095)
('topic44', -0.71124580845752927)
('topic45', -0.71124580845752983)
('topic46', 1.5177323785661618)
('topic47', 1.2214700585451521)
('topic48', 0.25898337543833255)
('topic49', 0.84870157318541239)
('author0', 0.5062009164949296)
('author1', -0.12984899011998299)
('author2', 0.045480239236044127)
('author3', 0.83419473112027998)
('author4', 0.41444099880360646)
('author5', 0.23662080038979252)
('author6', 0.41790490281119491)
('author7', 0.33367340653871802)
('author8', 0.2753362714140874)
('author9', 0.48252164691440269)
('author10', 0.076449842913044005)
('author11', 0.45487541994867875)
('author12', 0.1877485255548372)
('author13', 0.42976789476625493)
('author14', 0.22248711055584136)
('author15', 0.74159665777340067)
('author16', 0.97628898344065063)
('author17', 0.19868641993012481)
('author18', 0.25265142843986177)
('author19', 0.062255311369729165)
('author20', -0.55817191666819388)
('author21', 0.55794215939415581)
('author22', -0.12390029520338246)
('author23', 1.3750852510541314)
('author24', 0.05827302111031455)
('author25', -0.99723824124820193)
('author26', 0.4061690739395547)
('author27', 1.0727110480394497)
('author28', 0.37930233551233894)
('author29', 0.44934325080273796)
('author30', 0.19575124325576185)
('author31', -0.18680234403127544)
('author32', 0.68620834204950265)
('author33', 0.19606017735237569)
('author34', 0.74643342277322)
('author35', -0.4540596370569554)
('author36', -0.28748124995922292)
('author37', 0.67573960967329438)
('Day0', 1.5947685268647314)
('Day1', 1.5850295534281857)
('Day2', 1.5996934874493149)
('Day3', 1.556563373546449)
('Day4', 1.5476001417966887)
('Day5', 1.5561162474560346)
('Day6', 1.7709264385855981)
('Times', 0.40768867104049161)

In [105]:
model = neighbors.KNeighborsRegressor(n_neighbors=15)

In [106]:
train_model(datasplit,model,coeff_regr)

Training error: 0.187695875874
Test error: 0.164337671611

## Random Forest

In [32]:
model = ensemble.RandomForestRegressor(n_estimators=50,max_features='sqrt')

In [33]:
train_model(datasplit,model,coeff_regr)

Training error: 0.912122608486
Test error: 0.416150523842

In [34]:
for feature, importance in zip(featurenames,model.feature_importances_):
    print(feature, importance)

('topic0', 0.016113590688795539)
('topic1', 0.012569286062462416)
('topic2', 0.012993126624976625)
('topic3', 0.017150843868220234)
('topic4', 0.018189730630492156)
('topic5', 0.015281999709451115)
('topic6', 0.018241100360228382)
('topic7', 0.017642907919572997)
('topic8', 0.023263893201275036)
('topic9', 0.020831659833971627)
('topic10', 0.015269594488074347)
('topic11', 0.025576316421415179)
('topic12', 0.016304727875491018)
('topic13', 0.013555791673079182)
('topic14', 0.022864942710206143)
('topic15', 0.011904443909317467)
('topic16', 0.018255845921001969)
('topic17', 0.042958841366905351)
('topic18', 0.017603706922945082)
('topic19', 0.010032006531498905)
('topic20', 0.014527498683396313)
('topic21', 0.019122162838571547)
('topic22', 0.016446883110110781)
('topic23', 0.013964008186486016)
('topic24', 0.0064503661125745208)
('topic25', 0.020691828307924761)
('topic26', 0.025338207447138189)
('topic27', 0.015955776300474938)
('topic28', 0.016160777178122407)
('topic29', 0.011432557368965462)
('topic30', 0.016560916628688468)
('topic31', 0.014639762666886311)
('topic32', 0.0097638138233520251)
('topic33', 0.019163748375227684)
('topic34', 0.015283826340881341)
('topic35', 0.012201262796745795)
('topic36', 0.016111145147395634)
('topic37', 0.018004239682709606)
('topic38', 0.019183850991551853)
('topic39', 0.012658085342049907)
('topic40', 0.014638333344531145)
('topic41', 0.018533843984377674)
('topic42', 0.015634063011427557)
('topic43', 0.015112542087228594)
('topic44', 0.019502941614664544)
('topic45', 0.024830301525782836)
('topic46', 0.02207470111523939)
('topic47', 0.014150860680784669)
('topic48', 0.01465373138478283)
('topic49', 0.023632450009158559)
('author0', 0.0087093107462889018)
('author1', 0.00010564474793359567)
('author2', 0.00023339277374957127)
('author3', 0.00076263713652858264)
('author4', 0.000255198186156656)
('author5', 0.0029620846174778438)
('author6', 0.00045245889869862521)
('author7', 0.0011469633167495343)
('author8', 0.00030817864641519594)
('author9', 2.9821124907551507e-05)
('author10', 0.00011415402354412427)
('author11', 0.00050817436432466388)
('author12', 0.0059025753335358311)
('author13', 0.00033437212526156245)
('author14', 5.7506245187357493e-05)
('author15', 0.00089235281566536003)
('author16', 0.0091607080392090996)
('author17', 0.00029229755428590175)
('author18', 0.00024281274883764751)
('author19', 0.00034126386755512742)
('author20', 0.004850442107552806)
('author21', 0.00094659071500280726)
('author22', 0.00020442325553746851)
('author23', 0.010495978341951668)
('author24', 0.0001338600696921285)
('author25', 0.0072058272462078776)
('author26', 3.1856160580043364e-05)
('author27', 0.00015535774976292821)
('author28', 0.00032650169503125855)
('author29', 2.3221451091385267e-05)
('author30', 0.00036791671108413844)
('author31', 0.00030011340279017108)
('author32', 0.00076057716442499632)
('author33', 0.00051566693580366819)
('author34', 0.00080476835518657728)
('author35', 0.0041809908826686447)
('author36', 6.9933586512292546e-05)
('author37', 0.0013491118198398204)
('Day0', 0.0024289075505078846)
('Day1', 0.0022004611711718466)
('Day2', 0.0024692561090448018)
('Day3', 0.0026429219050243076)
('Day4', 0.0019718569546019922)
('Day5', 0.0024851895120069291)
('Day6', 0.0080253782765421482)
('Times', 0.049212140751454553)

## K-Nearest Neighbors

In [105]:
for i in range(1,20):
    model = neighbors.KNeighborsRegressor(n_neighbors=i)
    train_model(datasplit,model,coeff_regr)

Training error: 0.998883446246
Test error: -0.147600334939
Training error: 0.716377900879
Test error: 0.152592380258
Training error: 0.619053854171
Test error: 0.243409621316
Training error: 0.569168974685
Test error: 0.290740795355
Training error: 0.535852162635
Test error: 0.314018356802
Training error: 0.515676841609
Test error: 0.328033807347
Training error: 0.500432695738
Test error: 0.332794871677
Training error: 0.488118540344
Test error: 0.34068243082
Training error: 0.478990621509
Test error: 0.345101970322
Training error: 0.469109110887
Test error: 0.344840873636
Training error: 0.461235157144
Test error: 0.34593098155
Training error: 0.454972515161
Test error: 0.350557689176
Training error: 0.448723296798
Test error: 0.351332730917
Training error: 0.444368263776
Test error: 0.353331101435
Training error: 0.439076912761
Test error: 0.355747969173
Training error: 0.437369664485
Test error: 0.355988512055
Training error: 0.43284801782
Test error: 0.352899477027
Training error: 0.429192621953
Test error: 0.35384234248
Training error: 0.424704593041
Test error: 0.353192479167